name: Testing

on:
  push:
    branches: 
      - main
      - development
      - release/*
  pull_request:
    branches:
      - main
      - development
      - release/*

jobs:
  test:
    runs-on:  [ubuntu-latest, windows-latest, macOS-latest]

    strategy:
      matrix:
        node-version: [16.x, 17.x]
        
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm install
    - run: npm test
